body{
	text-align: left;
}
p{
	height: 30px;
	width: 150px;
	color: #fff;
	background-color: #73AD21;
	border-radius: 2px;
	text-align: center;
	padding-top: 10px;
}
a{
	text-decoration: none;
	color: black;
}
a:hover{
	color: #73AD21;
}
.dropdown{
	position: relative;
	display: inline-block;

}
.dropdown-list{
	display: none;
	text-align: center;
}
.dropdown:hover .dropdown-list{
	display: inline-block;
	background-color: #fff;
	border: 1px solid #73AD21;
	width: 150px;
	padding: 10px 0px 10px 0px;
}

